/* Property of tribunsofdestiny 2017-2018
 don't steal my stuff pls */
body {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}
#cover {
  display: block;
  position: absolute;
  z-index: 499;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: black;
}
#mutebutton {
  display: block;
  position: absolute;
  right: 3%;
  bottom: 6%;
  z-index: 500;
}
#logo {
  display: block;
  position: absolute;
  z-index: 100!important;
  width: 25vw!important;
  height: auto!important;
  margin-left: 37.5vw!important;
  opacity: 0;
}
#logo > .imglogo {
  width: 100%;
  height: 100%;
}
.scene {
  padding: 0;
  margin: 0;
  border: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  list-style: none;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.image {
  image-rendering: pixelated;
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.image.bg, .image.mid {
  width: 105vw;
  height: 105vh;
  left: -2%;
  top: -2%;
}
.image.frontl {
  width: 40vw;
  height: 105vh;
  left: -3%;
  top: -3%;
}
.image.frontr {
  width: 41vw;
  height: 105vh;
  right: -4%;
  top: -3%;
}
li:nth-of-type(1) {
  z-index: 100;
}
li:nth-of-type(2) {
  z-index: 12;
}
li:nth-of-type(3) {
  z-index: 11;
}
li:nth-of-type(4) {
  z-index: 10;
}
li:nth-of-type(5) {
  z-index: 16;
}
li:nth-of-type(6) {
  z-index: 15;
}
li:nth-of-type(7) {
  z-index: 14;
}
li:nth-of-type(8) {
  z-index: 19;
}
li:nth-of-type(9) {
  z-index: 18;
}
li:nth-of-type(10) {
  z-index: 17;
}
li:nth-of-type(11) {
  z-index: 22;
}
li:nth-of-type(12) {
  z-index: 21;
}
li:nth-of-type(13) {
  z-index: 20;
}

/* keyframes mah boi */
@keyframes fadeday {
  0% {opacity: 1;}
  50% {opacity: 1;}
  96% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeevening {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes showday {
  0% {opacity: 0;}
  50% {opacity: 0;}
  90% {opacity: 0;}
  to {opacity: 1;}
}
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes removecover {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}